@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

html,
body,
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem .75rem;
    border: none;
}




a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

a:hover {
    text-decoration: underline;
    color: rgb(111, 0, 255);
}

html,
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background-image: url('/images/fundo6.png');
    /* Substitua pelo caminho da sua imagem */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#wrap {
    max-width: 1024px;
    /* min-width: 280px; */
    margin: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#wrap>header,
#wrap>nav,
#wrap>footer {
    margin: .25rem;
    border-radius: .5rem;
}

#wrap>header {
    background-color: rgb(43, 119, 170);
    display: flex;
    flex-direction: column;
}

#wrap>header>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#wrap>header img {
    display: block;
    height: 5rem;
    /* margin: 1.25rem .5rem .25rem .5rem; */
}

#wrap>header h1 {
    margin: 0;
    font-size: 1.5rem;
    /* letter-spacing: .25rem; */
    text-align: center;

    -webkit-text-stroke: .25px rgb(255, 255, 255);
}

#wrap>header small {
    display: block;
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: normal;
    color: rgb(255, 255, 255);

    -webkit-text-stroke: 0;
}

#wrap>header form {
    display: flex;
    padding: 1rem;
}

#wrap>header form input {
    width: 100%;
    border-radius: .3rem 0 0 .3rem;
    background-color: rgb(106, 233, 255);
}

#wrap>header form button {
    border-radius: 0 .3rem .3rem 0;
    background-color: rgb(0, 183, 255);
    padding-left: .25rem;
    padding-right: .25rem;
}

#wrap>header form button:hover {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}


#wrap>nav {
    background-color: rgb(0, 153, 255);
    margin: .25rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#wrap>nav a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem .7rem;
    transition: .2s;
}

#wrap>nav a:hover {
    color: rgb(0, 0, 0);
}


#wrap>nav a:first-child {
    margin-right: auto;
}

#wrap>nav i {
    font-size: 2rem;
    margin-bottom: .5rem;
}

#wrap>nav span {
    font-size: 1.2rem;
    text-transform: uppercase;
}


#wrap>main {
    display: flex;
    flex-direction: column;
}

#wrap>main>article,
#wrap>main>aside {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: .25rem;
    border-radius: .3rem;
}

#wrap>main>article {
    flex-grow: 1;
}

#wrap>main>article>h2:first-child,
#wrap>main>aside>h3:first-child {
    margin: 0;
}

#wrap>main>aside {
    background-color: rgb(44, 241, 255);
    padding: 1rem;
}


#wrap>footer {
    background-color: rgb(0, 0, 0);
    color: white;
}

#wrap>footer a {
    color: rgb(255, 255, 255);
}

#wrap>footer:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_top a i {
    font-size: 1.5rem;
    margin: .5rem;
}

.footer_top div {
    font-size: small;
}

.footer_botton {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.footer_botton nav {
    display: flex;
    flex-direction: column;
    line-height: 1.7;
}

.footer_botton nav h4 {
    margin: 0;
}

.footer_botton nav a {
    margin-left: 1rem;
}

#fotrack {
    height: .1rem;
}

@media screen and (min-width: 575px) {


    #wrap>header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }


    #wrap>nav a {
        flex-direction: row;

    }

    #wrap>nav a i {
        font-size: 1.2rem;
        margin: 0 .35rem 0 0;
    }
}

@media screen and (min-width: 640px) {

    #wrap>main {
        flex-direction: row;
    }

    #wrap>main>aside {
        min-width: 12.5rem;
        max-width: 12.5rem;
    }

}